* {
	margin: 0;
	padding: 0;
}

button {
    position: absolute;
    top: 0;
    left: 0;
}

body {
	background-image: url('../IMAGES/background.jpg');
    background-size: cover;
    display: block;
}

#game-field {
    display: block;
    -webkit-box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
	box-shadow: 0 0 16px 2px rgba(0,0,0,0.8);
}

canvas {
    z-index: 1;
    background-image:url('../IMAGES/Super-Mario-Clouds-001.png'); 
    display: none;
    border: 1px solid #333;
}

#victory-penguin, #victory-penguin > img, #game-field {
    z-index: 1;
    width: 600px;
    height: 400px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	margin: auto;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #777;
	display: block;
	width: 400px;
	margin: 0 auto;
	text-align: center;

}

.info {
	margin: 14px auto;
	text-align: justify;
	font-size: 18px;
	color: #999;
}

label {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #555;
	width: 400px;
	margin: 0 auto;
	display: block;
}